<h1> Listing Entries</h1>
<% if params[:all] %>
  <p>Display all entries.  <%= link_to 'Show not invoiced.', entries_path %></p>
<%- else -%>
  <p>Displaying all entries that <strong>have not</strong> been invoiced. <%= link_to 'Show all.', entries_path(:all => '1') %></p>
<%- end -%>
<% form_for(Entry.new) do |form| %>
  <fieldset class="inline new">
    <ul>
      <li><%= form.label :project_id %><%= form.select :project_id, Project.for_select %></li>
      <li><%= form.label :spent_on %><%= form.text_field :spent_on, :size => 10 %></li>
      <li><%= form.label :description %><%= form.text_field :description %></li>
      <li><%= form.label :hours_spent, 'Hours' %><%= form.text_field :hours_spent, :size => 3 %></li>
      <li class="last"><%= form.submit 'Create' %></li>
    </ul>
  </fieldset>
<% end %>
<hr />
<% for entry in @entries %>
  <% form_for(entry) do |form| %>
    <fieldset class="inline edit">
      <ul>
        <li><%= form.select :project_id, Project.for_select %></li>
        <li><%= form.text_field :spent_on, :size => 10 %></li>
        <li><%= form.text_field :description %></li>
        <li><%= form.text_field :hours_spent, :size => 3 %></li>
        <li><%= form.submit 'Update' %></li>
        <li class="last"><%= link_to 'Destroy', entry, {:confirm => 'Are you sure?', :method => :delete, :id => "entry_submit"} %></li>
      </ul>
    </fieldset>
  <% end %>
<% end %>