<h1> Listing Projects</h1>

<table>
  <tr>
    <th>Client</th>
    <th>Name</th>
    <th>Hourly rate</th>
  </tr>

  <% for project in @projects %>
  <tr>
    <td><%= h project.client %></td>
    <td><%= h project.name %></td>
    <td><%= h project.hourly_rate %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'New Project', new_project_path %></p>
