<h1> Listing Payments</h1>

<table>
  <tr>
    <th>Invoice</th>
    <th>Payment amount</th>
    <th>Check number</th>
    <th>Payment received on</th>
  </tr>

  <% for payment in @payments %>
  <tr>
    <td><%= h payment.invoice_id %></td>
    <td><%= h payment.payment_amount %></td>
    <td><%= h payment.check_number %></td>
    <td><%= h payment.payment_received_on %></td>
    <td><%= link_to 'Show', payment %></td>
    <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
    <td><%= link_to 'Destroy', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to 'New Payment', new_payment_path %></p>
